*{
    padding: 0;
    margin: 0;
}
li,ul{
    list-style: none;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}
.warp{
    position: relative;
    width: 800px;
    margin: 0 auto ;
}
.smallImgList .list{
    float: left;
}
.bigImgList .list{
    position: absolute;
    top: 0;
    left: 0;
}
.bigImgList .oneList{
    position: relative;
    width: 800px;
    height: 500px;
}